<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Asia</key>
	<dict>
		<key>Thailand</key>
		<array>
			<string>Bangkok</string>
			<string>Pucket</string>
		</array>
		<key>Korea</key>
		<array>
			<string>Seoul</string>
			<string>Busan</string>
			<string>Incheon</string>
			<string>Mokpo</string>
			<string>Daejeon</string>
		</array>
		<key>Japan</key>
		<array>
			<string>Tokyo</string>
			<string>Osaka</string>
			<string>Hiroshma</string>
		</array>
		<key>China</key>
		<array>
			<string>Beijing</string>
			<string>Sanghai</string>
			<string>Chingtao</string>
		</array>
	</dict>
	<key>Africa</key>
	<dict>
		<key>Moroco</key>
		<array>
			<string>CasaBlanca</string>
			<string>Rabat</string>
			<string>Marjuca</string>
		</array>
		<key>Egypt</key>
		<array>
			<string>Cairo</string>
		</array>
	</dict>
	<key>Europe</key>
	<dict>
		<key>UnitedKingdom</key>
		<array>
			<string>London</string>
			<string>Manchester</string>
			<string>Glasgow</string>
			<string>Celtic</string>
			<string>Yorksher</string>
			<string>Waterloo</string>
		</array>
		<key>Germany</key>
		<array>
			<string>Munchen</string>
			<string>Frankfurt</string>
			<string>Berlin</string>
			<string>Parsing</string>
			<string>Dortmunt</string>
		</array>
		<key>France</key>
		<array>
			<string>Paris</string>
			<string>Neice</string>
			<string>Marseille</string>
		</array>
		<key>Spain</key>
		<array>
			<string>Madrid</string>
			<string>Barcelona</string>
			<string>Valencia</string>
		</array>
	</dict>
	<key>America</key>
	<dict>
		<key>U.S.A</key>
		<array>
			<string>Sanfrancisco</string>
			<string>NewYork</string>
			<string>Boston</string>
		</array>
		<key>Canada</key>
		<array>
			<string>Quebec</string>
			<string>Montreol</string>
		</array>
		<key>Brazil</key>
		<array>
			<string>RioDeJaneiro</string>
			<string>SauPaluo</string>
		</array>
		<key>Mexico</key>
		<array>
			<string>Ghadalrahara</string>
			<string>Chiwawa</string>
		</array>
	</dict>
</dict>
</plist>
